@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background-color: #1a191e;
}
header{
    position: fixed;
    background: linear-gradient(#1a191e, transparent);
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #d62909;
    font-weight: 700;
    text-decoration: none;
    text-shadow: #d8ab81;
    font-size: 25px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    z-index: 10000;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: blanchedalmond;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: #1b346a;
    color: blanchedalmond;
}
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    header ul{
        width: 100%;
        margin-top: 10px;
        flex-direction: column;
    }
    header ul li{
        margin-top: 15px;
    }
    .logo{
        margin-bottom: 14px;
    }
}

.container{
    padding: 4rem 0 0 6rem;
}
.slider-wrapper{
    position: relative;
    max-width: 55rem;
    margin:  0;
    border-radius: 40px;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
}
.slider::-webkit-scrollbar {
    display: none;
  }
.slider img{
    flex-direction: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    transition: transform 1s ease
}

.main-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eed3b8;
    font-size: 1.8rem;
    text-align: center;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #eed3b8;
    opacity: 0.75;
}
#name-input{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, 0.2);
    color: #1a191e;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;

}
.name-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-form input, .name-form button{
   margin: 0.5rem 0;
}
#submit{
    position: absolute;
    top: 60%;
    left: 57%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    background: #d8ab81;
    color: #1b346a;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.ourProfile{
    margin: 50px;
}
.logoProfile{
    width: 400px;
    height: auto;
    position: absolute;
    margin-top: 30px;
    padding: 50px;
}
.profile-text{
    color: #eed3b8;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 150px 50px 50px 200px;
}
.profile-text p{
    text-align: right;
    font-size: large;
}
.messageUs{
    margin: 50px;
    padding: 50px;
    color: #eed3b8;
    font-size: larger;
    display: flex;
    justify-content: space-between;
}
.message-text, .message-input {
    flex: 1;
    margin: 0.5rem;
}
.message-input {
    display: flex;
    flex-direction: column;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.input-group label {
    width: 150px; 
    margin-right: 1rem;
}
.input-group input, .input-group textarea {
    flex: 1;
    background: #eed3b8;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #1b346a;
}
#subMessage{
    background: #1b346a;
    color: #eed3b8;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#subMessage:hover{
    background: #d62909;
    color: #eed3b8;
}
.error-message{
    color: red;
    font-size: 0.8rem;
}

footer{
    background: #1b346a;
    color: #eed3b8;
    padding: 15px;
    text-align: center;
}
footer a{
    color: #d62909;
    text-decoration: none;
}



@media (max-width: 600px) {
    .main-text {
        font-size: 1.2rem;
    }

    .name-form {
        flex-direction: column;
        top: 70%;
    }

    .name-form input, .name-form button {
        margin: 0.5rem 0;
        width: 80%;
    }

    .logoProfile {
        width: 80px; 
    }

    .messageUs {
        flex-direction: column;
    }

    .message-text, .message-input {
        margin: 0.5rem 0;
    }
    .input-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group label {
        width: auto;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .input-group input,
    .input-group textarea {
        width: 100%;
    }
}